* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

nav {
    background-color: lightslategray;
    padding: 20px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding-right: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

#logout-button:hover {
    cursor: pointer;
    font-weight: bold;
}


#agenda-page {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#agenda-page > a {
    color: black;
    margin-bottom: 8px;
}

#agenda-page > a:hover {
    font-weight: bold;
}

#topic-view {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#topic-details {
    display: flex;
    flex-direction: column;
}

.topic-time {
    color: gray;
    margin-top: -8px;
    margin-bottom: 16px;
}

#topic-options {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

#topic-options > a {
    margin-bottom: 8px;
}

#topic-navigation {
    position: absolute;
    bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vh;
}

#topic-navigation-left {
    text-align: left;
}

#topic-navigation-right {
    text-align: right;
}
